html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1360px;
}

.modal {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.modal__content {
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 5px;
  max-width: 90%;
  margin: 10% auto;
  padding: 2em;
  text-align: center;
}

.error-message {
  color: #673ab7;
  visibility: hidden;
  margin: 1em 0;
}